[Desktop Entry]
Name=Neovim
Exec=kitty -e nvim %F
Icon=nvim
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-shellscript;application/json;text/x-lua;
